BasicDirectXTemplate/.vs/
BasicDirectXTemplate/Debug/BasicDirectXTemplate.exe.embed.manifest
BasicDirectXTemplate/Debug/
BasicDirectXTemplate/packages/
BasicDirectXTemplate/DirectXTK-oct2019/
BasicDirectXTemplate/Release/
